# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Datasets
a1_datasets
*.zip
*.csv
*.conllu
*.py
*.tags
*.words
*.counts
*.txt
!README.txt

# Homework files (answers to theoretical questions)
*.docx
*.doc

# IntelliJ Files
workspace.xml
tasks.xml
*.idea
*.iml

# Temp notes
*.rtf
*.rtfd

